
html{
    height: 100%;
}
body {
    height: 100%;
    background-color: rgba(185, 183, 255, 0.45);
}

/*
#diagram{
    width: 100%; 
   
}
#form{

    width: 100%;

}
*/
#Chart1{

    height: 100%; 

}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}


.button {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
    position: center;
}

.button1 {
    background-color: white;
    color: black;
    border: 2px solid #ff0000;
}

.button1:hover {
    background-color: #ff0000;
    color: white;
}

.button2:hover {
    background-color: #4CAF50;
    color: white;
}

.button3:hover {
    background-color: #80bfff;
    color: white;
}

.button4:hover {
    background-color: #80bfff;
    color: white;
}

header {
    text-align: center;
    height: 100px;
    padding-top: 1px;
    background-color: rgba(183, 197, 255, 0.88);
    color: #FFFFFF;
    font-size: x-large;
}
h1{

    margin: 20px;
}

h3 {
    margin-top: 2px;
    text-align: center;
    background-color: rgba(183, 197, 255, 0.88);
}

footer {
    margin-top: 3%;
    text-align: center;
}
form{
    width: 100%;
    display: inline-block;

}

table{
    width: 100%;
}


table,td, th,tr{

    border-collapse: collapse;
    padding: 5px;
    text-align: center;
}

#rickroll{
    font-size: 1.5cm;
    align-self: center;
}